@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import 'variables';

// 2. Setup your Custom Colors
$primary: #3c40c6;
$primary-invert: findColorInvert($primary);
$link: $primary;
$dark: #1e272e;
$dark-invert: findColorInvert($dark);

@import '~bulma/sass/utilities/derived-variables';
@import '~bulma';
@import '~buefy/src/scss/buefy';

// 4. Provide custom buefy overrides and site styles here
