@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import 'variables';

// 2. Setup your Custom Colors
$primary: #3867d6;
$light: #f5f6fa;
$dark: #2f3640;
$success: #26de81;
$link: $primary;
$info: #2d98da;
$danger: #eb3b5a;
$warning: #fa8231;

$primary-invert: findColorInvert($primary);
$link-invert: findColorInvert($link);
$dark-invert: findColorInvert($dark);
$success-invert: findColorInvert($success);
$link-invert: findColorInvert($link);
$info-invert: findColorInvert($info);
$danger-invert: findColorInvert($danger);
$warning-invert: findColorInvert($warning);

$warning: #ffa801;
$warning-invert: findColorInvert($danger);

$danger: #f53b57;
$danger-invert: findColorInvert($danger);

// Scrollbar
::-webkit-scrollbar {
	width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
	background: $dark !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $white !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $primary !important;
}

@import '~bulma/sass/utilities/derived-variables';
@import '~bulma';
@import '~buefy/src/scss/buefy';

// 4. Provide custom buefy overrides and site styles here
